.masthead {
  background: linear-gradient(to bottom,rgba(233,233,233,.6) 0,rgba(233,233,233,.9) 75%,rgb(233,233,233) 100%), url("../img/contoso-bg.jpeg") !important;
  background-size: cover, cover !important;
}
@media only screen and (max-height:900px) {
  .masthead { padding: 13rem 0; }
}
@media only screen and (max-height:800px) {
  .masthead { padding: 11rem 0; }
}
@media only screen and (max-height:700px) {
  .masthead { padding: 10rem 0; }
}
@media only screen and (max-height:600px) {
  .masthead { padding: 8rem 0; }
}

.masthead h1 {
  font-size: 2.15rem !important;
  line-height: 2.3rem !important;
  color: rgba(22,22,22);
  background: -webkit-linear-gradient(rgba(22,22,22, .9), rgba(22,22,22, 0.2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.logo-image {
  max-width: 100%;
  margin-bottom: 1rem;
}

p {
  color: rgb(22,22,22);
}

.btn-sm {
  padding: .5rem .75rem;
  font-size: 70%;
}

pre {
  overflow-x: auto;
  max-width: 600px;
}
@media only screen and (max-width:600px) {
  pre { max-width: 400px; }
}
@media only screen and (max-width:400px) {
  pre { max-width: 300px; }
}
pre code {
  overflow-wrap: normal;
  white-space: pre;
}